<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Right Sidebar - BIGBAG Store</title>

    <!-- PLUGINS CSS STYLE -->

    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>

    <!-- CUSTOM CSS -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="main-wrapper">
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>Blog right sidebar</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">Blog right sidebar</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix blogPage">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="thumbnail">
                  <%= image_tag("img/blog/blog-01.jpg", :alt => "blog-image") %>
                    <div class="caption">
                      <div class="row">
                        <div class="col-md-2 col-md-push-10 col-sm-4 col-sm-push-8 col-xs-12">
                          <h5>Details</h5>
                          <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a></li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
                            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Travel</a></li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a></li>
                          </ul>
                        </div>
                        <div class="col-md-10 col-md-pull-2 col-sm-8 col-sm-pull-4 col-xs-12">
                          <h3><a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a> </h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="thumbnail">
                  <!-- <img src="img/blog/blog-02.jpg" alt="blog-image"> -->
                  <div id="carousel-id" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="item">
                        <%= image_tag("img/blog/blog-02.jpg", :alt => "blog-image") %>
                      </div>
                      <div class="item">
                        <%= image_tag("img/blog/blog-02.jpg", :alt => "blog-image") %>
                      </div>
                      <div class="item active">
                        <%= image_tag("img/blog/blog-02.jpg", :alt => "blog-image") %>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
                    <div class="caption">
                      <div class="row">
                        <div class="col-md-2 col-md-push-10 col-sm-3 col-sm-push-9 col-xs-12">
                          <h5>Details</h5>
                          <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a></li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
                            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Travel</a></li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a></li>
                          </ul>
                        </div>
                        <div class="col-md-10 col-md-pull-2 col-sm-9 col-sm-pull-3 col-xs-12col-xs-12">
                          <h3><a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a> </h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="thumbnail">
                  <%= image_tag("img/blog/blog-03.jpg", :alt => "blog-image") %>
                    <div class="caption">
                      <div class="row">
                        <div class="col-md-2 col-md-push-10 col-sm-3 col-sm-push-9 col-xs-12">
                          <h5>Details</h5>
                          <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a></li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
                            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Travel</a></li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a></li>
                          </ul>
                        </div>
                        <div class="col-md-10 col-md-pull-2 col-sm-9 col-sm-pull-3 col-xs-12">
                          <h3><a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a> </h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="thumbnail">
                  <%= image_tag("img/blog/blog-04.jpg", :alt => "blog-image") %>
                    <div class="caption">
                      <div class="row">
                        <div class="col-md-2 col-md-push-10 col-sm-3 col-sm-push-9 col-xs-12">
                          <h5>Details</h5>
                          <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a></li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
                            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Travel</a></li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a></li>
                          </ul>
                        </div>
                        <div class="col-md-10 col-md-pull-2 col-sm-9 col-sm-pull-3 col-xs-12">
                          <h3><a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a> </h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="thumbnail">
                  <%= image_tag("img/blog/blog-05.jpg", :alt => "blog-image") %>
                    <div class="caption">
                      <div class="row">
                        <div class="col-md-2 col-md-push-10 col-sm-3 col-sm-push-9 col-xs-12">
                          <h5>Details</h5>
                          <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a></li>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
                            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Travel</a></li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a></li>
                          </ul>
                        </div>
                        <div class="col-md-10 col-md-pull-2 col-sm-9 col-sm-pull-3 col-xs-12">
                          <h3><a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a> </h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-left">
                    <ul class="pagination">
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                <a href="#" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></a>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">categories</div>
                <div class="panel-body">
                  <ul class="list-unstyle sidebar-list">
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bag <span>(6)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default recentBlogPosts">
                <div class="panel-heading">recent posts</div>
                <div class="panel-body">
                  <div class="media">
                    <a class="media-left" href="blog_single_right_sidebar.html">
                      <%= image_tag("img/blog/blog-small-01.jpg", :class => "media-object", :alt => "Image") %>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="blog_single_right_sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a></h4>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                    </div>
                  </div>
                  <div class="media">
                    <a class="media-left" href="blog_single_right_sidebar.html">
                      <%= image_tag("img/blog/blog-small-02.jpg", :class => "media-object", :alt => "Image") %>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="blog_single_right_sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a></h4>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                    </div>
                  </div>
                  <div class="media">
                    <a class="media-left" href="blog_single_right_sidebar.html">
                      <%= image_tag("img/blog/blog-small-03.jpg", :class => "media-object", :alt => "Image") %>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="blog_single_right_sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a></h4>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- LOGIN MODAL -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">log in</h3>
          </div>
          <div class="modal-body">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="login-email">Enter Email</label>
                <input type="email" class="form-control" id="login-email">
              </div>
              <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">log in</button>
              <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Create an account</h3>
          </div>
          <div class="modal-body">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="signup-email">Enter Email</label>
                <input type="email" class="form-control" id="signup-email">
              </div>
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password">
              </div>
              <div class="form-group">
                <label for="signup-password-confirmation">Confirm Password</label>
                <input type="password" class="form-control" id="signup-password-confirmation">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
